<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:u="http://www.example.org/schema/user"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.example.org/schema/user http://www.example.org/schema/user/user.xsd
	http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">
	   
	    
         <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
          <property name="username" value="root"/>
          <property name="password" value="mysqladmin"/>
          <property name="url" value="jdbc:mysql://localhost:3306/test"/>
          <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      </bean>
      
      <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                 <property name="dataSource" ref="dataSource"/>
                 <property name="mapperLocations" value="classpath:sqlMap/*.xml"/>
                 
      </bean>
      
      <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
               <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
               <property name="basePackage" value="org.comm.dal.mapper"/>
      </bean>
     <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean> 
    

</beans>
